{% extends "layout.html" %}


{% block title %}{{ com }} - {{ type }} summary{% endblock %}

{% block JS %}
    {% include 'plot.html' %}
{% endblock %}

 {% block header %} 
    abcd
    {{ super() }}
 {% endblock %}

    
{% block left %}
    <div class="stats">
        <H2> {{ type }} Summary</H2>
        
        {% for project in info %}
            <H3> {{ project.name }} </H3>
            {% for item in project.info %}
                <p>{{item.words}}: {{item.value}} {{item.units}}</p>
            {% endfor %}
        {% endfor %}
        
    </div>
{% endblock %}
    
{% block right %}
    <div class = 'description'> Description of component. Some text will need to be written to go here.</div>
    <div class = 'charts'>
        {% for chart in charts %}
        <div class="{{chart.name}}">
            <div id="{{chart.name}}_chart"></div>
            
            <button type='button' id='{{ chart.name }}_button'>Plot/Table</button>
            <div id='{{chart.name}}_png'></div>
            <button type='button' onclick="location.href='csv/{{ com }}_{{ type.replace(' ','_') }}_{{ chart.name }}.csv'">Table as csv</button>
        </div>
        {% endfor %}
    </div>
{% endblock %}
