{% extends "layout.html" %}

{% block title %}{{ com }} - {{ type }} summary{% endblock %}

{% block additional_css %}
<link href="../summary.css" rel="stylesheet"> 
<link href="../footer.css" rel="stylesheet">
<link href="../dropdown.css" rel="stylesheet">
{% endblock %}


{% block JS %}{% include 'plot.html' %} {% endblock %}

{% block secondary_nav %}{% include 'summary_nav.html' %} {% endblock %}
    
{% block left %}<div class="stats">
    {% for project in info %}<H3>{{ project.name }} <small class = "hidy" data-toggle="collapse" data-target="#{{ project.name.replace(' ','_').replace(')','').replace('(','').replace('#','').replace(',','') }}"></small> </H3>
    <div id="{{ project.name.replace(' ','_').replace(')','').replace('(','').replace('#','').replace(',','') }}" class="collapse in" >
    {% for item in project.info %} <p class="stats">{{item.words}}: {{item.value}} {{item.units}}</p>{% endfor %}
    </div>{% endfor %}
</div>{% endblock %}
    
{% block right %}<div class = 'description'> 
    {{ description }}
</div>
<div class = 'charts'>
  {% for chart in charts %}<div class="{{chart.name}}">
    <div id="{{chart.name}}_chart"></div>
    <button class="btn btn-default" type='button' id='{{ chart.name }}_button'>Plot/Table</button>
    <div id='{{chart.name}}_png'></div>
    <button class="btn btn-default" type='button' onclick="location.href='csv/{{ com }}_{{ type.replace(' ','_') }}_{{ chart.name }}.csv'">Table as csv</button>
  </div>{% endfor %}
</div>{% endblock %}
