{% extends "layout.html" %}


{% block title %}{{ com }} - {{ type }} summary{% endblock %}

{% block additional_css %}
<link href="{% if not in_root %}../{% endif %}summary.css" rel="stylesheet"> 
<link href="{% if not in_root %}../{% endif %}footer.css" rel="stylesheet">
<link href="{% if not in_root %}../{% endif %}dropdown.css" rel="stylesheet">
{% endblock %}

{% block JS %}
    {% include 'plot.html' %}
{% endblock %}

{% block secondary_nav %}
    {% include 'summary_nav.html' %}
{% endblock %}

 {% block header %} 

    {{ super() }}
 {% endblock %}

    
{% block left %}

{% endblock %}
    
{% block full %}
    <div class = 'charts'>
        {% for chart in charts %}
        <div class="panel panel-default">
            <div class="panel-heading"> {{ chart.title }} <small class="hidy" data-toggle="collapse" data-target="#{{ chart.title.replace(' ','_').replace(')','').replace('(','').replace('#','').replace('$','').replace(',','').replace('/','').lower() }}"></small> </div>
                <div id="{{ chart.title.replace(' ','_').replace(')','').replace('(','').replace('#','').replace(',','').replace('/','').replace('$','').lower() }}" class="panel-collapse collapse in">
                <div class="panel-body center-block">
                    <div class="{{chart.name}}">
                    {%if chart.plot %}
                        <div id="{{chart.name}}_chart"></div>
                
                    {% elif chart.table %}
                        <table class="table table-striped">
<!--
                        <thead>
                            <tr>{% for col in chart.data[0] %}                                   
                             {% if chart.use_header %}<th> {{col}} </th> {% else %}<td> {{col}} </td>  {% endif %}
                                {% endfor %}</tr>
                        </thead>
-->
                        <tbody>
                            {% for row in chart.data %}<tr>
                                {% for col in row[1:] %}
                                    {% if row[0] %}<th> {{col}} </th> {% else %}<td> {{col}} </td>  {% endif %}
                                {% endfor %}
                            </tr>{% endfor %}
                        </tbody>
                        </table>
                    {% elif chart.links_list %}
                        <div class="list-group">
                        {% for row in chart.data %}
                            <a href="{{ row.url }}" class="list-group-item">{{ row.text }}</a>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>This plot/table could not be generateted. {{ chart.data }}</P>
                    {% endif %}
                    </div>
                </div>
        <div class="panel-footer">
            {%if chart.plot %}
            <button class="btn btn-default" type='button' id='{{ chart.name }}_button'>Plot/Table</button>
            <div id='{{chart.name}}_png'></div>
            <button class="btn btn-default" type='button' onclick="location.href='csv/{{ com }}_{{ chart.name }}.csv'">Table as csv</button>
            {% endif %}
        </div>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}


