<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %}</title>
<!--
      <script type="text/javascript" src="./com_list.js"></script>
-->
      {% block JS %}{% endblock %}
    
    <style type="text/css">
      h1.titles {color: gray; margin-top:5px;margin-bottom:5px}
      .titles{width: 100%; float:left}
      .stats{font-size:10pt;}
      .left {float:left;width: 20% ;}
      .right {float:right;width: 80% ;}

    </style>
  </head>
  <body >
    <div class="content">
<!--
      <div id='com_list'></div>
-->
      <div class='titles'>
        <H1 class='titles'>{{ com.replace('_', ' ') }} </H1> 
        <div class='comps'> <a href='{{com}}_wind_summary.html'> wind power</a> | <a href='{{com}}_solar_summary.html'> solar power</a></div>
       
<!--    
        {% block heading %}
          {% block page %}{% endblock %}
        {% endblock %}
-->
      </div>
      <div class='left'>
        {% block left %}{% endblock %}
      </div>
      <div class='right'>
        {% block right %}{% endblock %}
      </div>
    </div>
  </body>
</html>
