<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %}</title>
      
      {% block JS %}{% endblock %}
    
    <style type="text/css">
      h1 {color: gray;}
      .stats{font-size:10pt;}
      .left {float:left;}
      .right {float:right;}

    </style>
  </head>
  <body>
    <div class="content">
      <div class='left'>
        <div class='titles'>
          {% block heading %}
            {% block page %}{% endblock %}
          {% endblock %}
        </div>
        {% block left %}{% endblock %}
      </div>
      <div class='right'>
        {% block right %}{% endblock %}
      </div>
    </div>
  </body>
</html>
