{% extends "layout.html" %}


{% block title %}{{ title }}{% endblock %}

{% block JS %}
    {% include 'scatter.html' %}
{% endblock %}

{% block left %}
    <H2> {{ title }} </H2>
{% endblock %}
    
{% block right %}
    <div class = 'charts'>
        {% for chart in charts %}
        <div class="{{chart.name}}">
            <div id="{{chart.name}}_chart"></div>
            <div id='{{chart.name}}_png'></div><button type='button' id='{{ chart.name }}_button'>plot/table</button>
        </div>
        {% endfor %}
    </div>
{% endblock %}



