{% extends "layout.html" %}


{% block title %}{{ com }} - {{ type }} summary{% endblock %}

{% block JS %}
    {% include 'plot.html' %}
{% endblock %}


{% block page %}
    <H2> {{ type }} Summary</H2>
{% endblock %}

{% block heading %}
    <H1>{{ com }} </H1>
  {{ super() }}
{% endblock %}

    
{% block left %}
    <div class="stats">
        <h3>information:</h3>
        <p>Investments Needed: {{ "${:,.0f}".format(capital) }}  </p>
        <p>Net Lifetime Savings: {{ "${:,.0f}".format(savings) }}</p>
        <p>Expected kWh/year: {{ "{:,.0f}".format(kWh) }}</p>
        <p>Proposed Capacity(kW): {{ "{:,.0f}".format(capicity) }}</p>
        <p>Assumed Wind Class: {{ wind_class }}</p>
        <p>Assumed Capacity Factor: {{ cap_factor }}</p>
        <p>Existing Wind: {{wind}} kW</p>
        <p>Existing Solar: {{solar}} kW</p>
    </div>
{% endblock %}
    
{% block right %}
    <div class = 'charts'>
        {% for chart in charts %}
        <div class="{{chart.name}}">
            <div id="{{chart.name}}_chart"></div>
            <div id='{{chart.name}}_png'></div><button type='button' id='{{ chart.name }}_button'>plot/table</button>
        </div>
        {% endfor %}
    </div>
{% endblock %}



